html{
	font-size:62.5% ;
}
body{
	font-family:tahoma;
}
.wrapper{
	width:1200px;
	margin:0px auto;
}
header{
	display:flex;/*flex creates columns of the elements*/
	justify-content: space-between;/*to create space between the a and nav elements*/
	align-items: center;/*to center the elements under the header element*/
}
h1{
	font-size: 5rem;
}
nav{
	margin:4em;/*4em is equivalent to 40px*/
}
nav ul{
	list-style: none;/*removes the dots on the li */
	display:flex;/*get rid of the rows and form columns of the elements*/
	flex-wrap: wrap;
	gap:3em;/* creates space between the list items*/
	margin:0px;
}
main{
	display:flex;
	gap:10em;
	margin-top:11em;
}
.left-column{
	padding-right:8em;
	width:45%;
}
.right-column{
	flex-grow:1;/*for the content inside the flex contain to fill the available space*/
}
h2{
	font-size: 5.2rem;
	font-weight:normal;
	margin:0px;
}
.cta-btn,.secondary-cta{
	display:flex;
	gap:2em;
	padding:1em;
}
.primary-cta{
	background-color:peachpuff;
	font-size:1.8rem;
	font-weight: bold;
	border-radius:1.9rem;
	padding:1em 2em;
}
.secondary-cta{
	font-size: 1.8em;
}
.news{
	display:flex;
	padding:5em;
	gap: 30px 20px;
	border:  1px solid black;
	border-radius: .8rem;
	
}
p.men{
	/*padding-right:2em;*/
	font-size: 3.3rem;
	margin: 0px;
	font-weight: 200;
	line-height: 100%;
}
p.details{
	font-size: 1.4rem;
	margin:0;
}
.right-column{
	display: grid;/*display the images/elements horizontally in grids(not flex for vertically)*/
	gap: 30px 20px;
	grid-template-columns:2 auto ;
	grid-template-areas: /*get rid of the unwanted grids*/
	"left right"
	"left bottom";
}
.card{
	border-radius:.8ems;
	/*padding:1.1em;*/
	display:flex;
	align-items:flex-end;/*to move the element items at the bottom of the cards*/
	background-size: 200%;
	background: grey;

}
.card1{
	grid-area: left;
	background-image:url('../images/fsh4.jpg');
	border-radius:18px;
}
.card2{
	grid-area: right;
	background-image:url('../images/fsh5.jpg');
	border-radius:18px;
}

.card3{
	grid-area: bottom;
	background-image:url('../images/fsh6.jpg');
	border-radius:18px;
}
.card-details{
	background: white;
	align-items: center;
	display:flex;
	padding:2em;
	border-radius:16px;
	width: 100%;
	justify-content: space-between;
	margin:5px;
}
ul li 








